@model Chat.FrontWeb.Models.Finance.ChangeModel
@{
    ViewBag.Title = "转账";
    Layout = "~/Views/Share/_Layout2.cshtml";
}

<div class="page-heading">
    <i class="fa fa-bar-chart-o"></i>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <section class="panel">
        <!--主体开始-->
        <section style="padding: 28px;">
            <div class="row">
                <div class="col-md-12">
                    <div style="background-color: #3C8DBD; padding: 10px; padding-bottom: 20px; margin-bottom: 20px; color: #fff; border-radius: 5px;">
                        <h3 class="font-light m-b-xs">转账注意事项</h3>
                        <span>
                            <p>

                            </p>
                        </span>
                    </div>
                </div>
            </div>
            <div id='myform'>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <label></label>
                                </h3>
                            </div>
                            <div class="widget widget-body-white padding-none">
                                <div class="widget-body" style="padding: 20px; overflow: auto;">

                                    <div class="row" style="padding: 10px;">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">代理编号<span class="ast">*</span>:</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtusercode"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">代理姓名<span class="ast">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txttruename" disabled="disabled"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">转账类型<span class="ast">*</span></label>
                                            <div class="col-md-9">
                                                @Html.DropDownList("dropchangetype", ViewBag.dropchagelist as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <div class="form-group">
                                            <asp:UpdatePanel runat="server" ID="UpdatePanel4">
                                                <ContentTemplate>
                                                    <label class="col-md-3 control-label">转换数额<span class="ast">*</span>:</label>
                                                    <div class="col-md-9">
                                                        <input type="text" id="txtmoney" class="form-control" onkeydown="if(event.keyCode==13)event.keyCode=9"
                                                               onkeypress="if ((event.keyCode<48 || event.keyCode>57 ) && event.keyCode!=46) event.returnValue=false;" />
                                                    </div>
                                                </ContentTemplate>
                                            </asp:UpdatePanel>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-footer innerAll half text-right clearfix" style="text-align: center; padding: 10px;">
                                    <input type="button" class="btn btn-primary" id="btnsubmit" value="提 交" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
@section FooterScript{
    <script type="text/javascript">
        //提交
        $(function () {
            $("#btnsubmit").click(function () {
                var money = $("#txtmoney").val();
                var changetype = $("#dropchangetype option:selected").val();
                $.ajax({
                    url: "/finance/addchange",
                    type: "post",
                    data: { amount: money, changetype: changetype },
                    success: function (result) {
                        if (result.status == "1") {
                            window.location.href = result.data;
                        }
                        else {
                            if (result.msg == "登录信息已经过期，请刷新重新登录！") {
                                window.location.href = result.data;
                            }
                            else {
                                alert(result.msg);
                            }
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            })

            $("#txtusercode").blur(function () {
                var usercode = $("#txtusercode").val();
                $.ajax({
                    url: "/finance/GetTrueName",
                    type: "post",
                    data: { usercode: usercode},
                    success: function (result) {
                        if (result.status == "1") {
                            $("#txttruename").val(result.data);
                        }
                        else {
                            alert(result.msg);
                            $("#txtusercode").val("");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            })
        });
    </script>

}
