@model Chat.FrontWeb.Areas.Admin.Models.System.BankNameListModel
@{
    ViewBag.Title = "银行管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="box_con">
    <div class="box box_width">
        <div class="main_dt">
            <h2>
                银行设置
            </h2>
            <ul>
                <li>
                    <span style="display:block; width:180px; text-align:right; float:left;"><font>*</font>开户银行：</span>
                    <input type="text" id="txtbankname" class="input_select" />
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-ok" id="addbank">添加</a>
                </li>
                <li>
                    <div class="dataTable">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t1">
                            <thead>
                                <tr>
                                    <th>银行名称</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var temp in Model.bankList)
                                {
                                    <tr>
                                        <td>@temp.BankName</td>
                                        <td>
                                            <a href="javascript:void(0);" class="easyui-linkbutton del" iconcls="icon-no" id='@temp.ID'>删除</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
@section FooterScript{
    <script type="text/javascript">
        $(function () {
            //添加
            $("#addbank").click(function () {
                var bank = $("#txtbankname").val();
                var banken = "";
                $.ajax({
                    url: "/admin/system/AddBankName",
                    type: "post",
                    data: { bankname: bank, banknameen: banken},
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.href = result.data;
                        }
                        else if (result.status == 0) {
                            alert(result.msg);
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
            //删除
            $(".del").click(function () {
                console.log(this);
                var a = $(this).attr("id");
                console.log(a);
                $.ajax({
                    url: "/admin/system/BankNameDel?id=" + a,
                    type: "post",
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.href = result.data;
                        }
                        else if (result.status == 0) {
                            alert(result.msg);
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
    </script>
    
}