@model Chat.DTO.DTO.RoleDTO[]
@{
    ViewBag.Title = "角色列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<br />
<a class="easyui-linkbutton" iconcls="icon-add" href="/admin/system/roleadd">添加角色</a>
<a class="easyui-linkbutton"  iconcls="icon-back" href="/admin/system/adminmanager">返回管理员用户管理列表</a>
<div class="dataTable">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t1">
        <thead>
            <tr>
                <th>ID</th>
                <th>角色名</th>
                <th>描述</th>
                <th>操作</th>
            </tr>
        </thead>        
        <tbody id="pagerList">
            @foreach (var role in Model)
            {
                <tr>
                    <td align="center">@role.ID</td>
                    <td align="center">@role.Name</td>
                    <td align="center">@role.Description</td>
                    <td align="center">
                        <a class="easyui-linkbutton" href="/admin/system/roleedit?id=@role.ID" iconcls="icon-edit">编辑</a>
                        <a class="easyui-linkbutton del" iconcls="icon-remove" value="@role.ID">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="nextpage">
</div>
<script type="text/javascript">
    $(function () {
        //删除
        $(".del").click(function () {
            var id = $(this).attr("value");
            $.ajax({
                url: "/admin/system/roledel?id=" + id, type: "post",
                success: function (result) {
                    if(result.status=="1")
                    {
                        alert("角色删除成功");
                        window.location.href = result.data;
                    }
                    else if(result.status=="0")
                    {
                        alert(result.msg);
                    }
                },
                error: function () { alert("网络错误");}
            });
        });
    });
</script>