@model Chat.FrontWeb.Areas.Admin.Models.System.SystemBankListModel
@{
    ViewBag.Title = "SystemBankManage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="box_con">
    <div class="box box_width">
        <div class="main_dt">
            <h2>
                银行设置
            </h2>
            <ul>
                <li>
                    <div class="operation">
                        <fieldset class="fieldset">
                            <legend class="legSearch">账户设置</legend>
                            <table width="100%">
                                <tr>
                                    <td width="67px" align="right">
                                        <font class="red">*</font>银行名称：
                                    </td>
                                    <td width="210px"><input id="txtbankname" type="text" class="input_second" /></td>
                                    <td width="67px" align="right">
                                        <font class="red">*</font>银行账号：
                                    </td>
                                    <td width="210px">
                                        <input id="txtbankaccount" type="text" class="input_second" />
                                    </td>
                                    <td width="67px" align="right">
                                        <font class="red">*</font>开户名：
                                    </td>
                                    <td>
                                        <input id="txtbankaccountuser" type="text" runat="server" class="input_second" />
                                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-ok" id="addbank">添加</a>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </li>
                <li>
                    <div class="dataTable">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t1">
                            <thead>
                                <tr>
                                    <th>银行名称</th>
                                    <th>银行账号</th>
                                    <th>开户姓名</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var temp in Model.sysbankList)
                                {
                                    <tr>
                                        <td>@temp.BankName</td>
                                        <td>@temp.BankAccount</td>
                                        <td>@temp.BankAccountUser</td>
                                        <td>
                                            <a href="javascript:void(0);" class="easyui-linkbutton del" iconcls="icon-no" id='@temp.ID'>删除</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
@section FooterScript{
    <script type="text/javascript">
        $(function () {
            //添加
            $("#addbank").click(function () {
                var bank = $("#txtbankname").val();
                var bankaccount = $("#txtbankaccount").val();
                var bankaccountuser = $("#txtbankaccountuser").val();
                $.ajax({
                    url: "/admin/system/AddSystemBank",
                    type: "post",
                    data: { bankname: bank, bankaccount: bankaccount, bankaccountuser: bankaccountuser },
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.href = result.data;
                        }
                        else if (result.status == 0) {
                            alert(result.msg);
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
            //删除
            $(".del").click(function () {
                console.log(this);
                var a = $(this).attr("id");
                console.log(a);
                $.ajax({
                    url: "/admin/system/SystemBankDel?id=" + a,
                    type: "post",
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.href = result.data;
                        }
                        else if (result.status == 0) {
                            alert(result.msg);
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
    </script>

}
