@model Chat.FrontWeb.Areas.Admin.Models.Member.MemberListViewModel
@{
    ViewBag.Title = "未开通会员";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
 
    <div class="operation">
        <fieldset class="fieldset">
            <legend class="legSearch">查询</legend>选择下拉：
            @Html.DropDownList("Select_Code", new SelectList(ViewBag.hard_value, "Value", "Text"), new { @class = "btn btn-success dropdown-toggle form-control" })
           <input  id="usercode" type="text"  />
             会员级别：<select  id="Level">
                      <option value="0">--请选择--</option>
           @foreach (var item in Model.BlogCategory)
           {
            <option value="@item.LevelID">@item.LevelName</option>

           }
            </select>
            注册日期： <input tip="输入注册日期" type="text" onfocus="WdatePicker()" id="Start"  />
            至
            <input tip="输入注册日期" type="text" onfocus="WdatePicker()" id="End" />


            <input type="button" id="search" value="查询"/> 
        </fieldset>
    </div>
<div id="load">
    @{
        Html.RenderAction("Member_Page" , new { i=0});
    }
</div> 


<script type="text/javascript">
    $(function () {
    $("#button").click(function(){
    
        $ajax({
            url: "",
            type: post,
            success: function (result) {

            }, error(err) {
                alert(err.val())
            }
        })
    })
    
    })

</script>
@section FooterScript
{
    <script type="text/javascript">
        function getPage(pageIndex) {
            var name = $("#Select_Code").find("option:selected").val();
            var usercode = $("#usercode").val(); 
            var level = $("#Level").find("option:selected").val();
            var strat = $("#Start").val();
            var End = $("#End").val(); 
            $("#load").load("/admin/Member/Member_Page?Id=" + name + "&usercode=" + usercode + "&Level=" + level + "&Strat=" + strat + "&End=" + End + "&i=0&pageindex=" + pageIndex, function () {
                $.parser.parse($('#load'));
            });
        }
        //function getPage(pageIndex) {
        //    var name = $("#Select_Code").find("option:selected").val();
        //    var usercode = $("#usercode").val();
           
        //    var level = $("#Level").find("option:selected").val();
        //    var strat = $("#Start").val();
        //    var End = $("#End").val();
        //    $.ajax({
        //        url: "/admin/Member/MemberGetPage?Id=" + name + "&usercode=" + usercode + "&Level=" + level + "&Strat=" + strat + "&End=" + End + "&i=0&pageindex=" + pageIndex,
        //        type: "post",
        //        success: function (result) {
        //            if (result.data.memberList == null) {
        //                alert("暂无数据");
        //            }
        //            $(".nextpage").empty();
        //            $(".nextpage").append(result.data.page);
        //            $("#pagerList").empty();
        //            $("#pagerList").append('<input type="hidden" id="index" value="' + pageIndex + '" />'); 
        //            var html = template('MemberList', { memberList: result.data.memberList });
        //            //alert(result.data.MemberList);
        //            $("#pagerList").append(html);
        //            $.parser.parse($('#pagerList'));
        //        },
        //        error: function () { alert("网络错误"); }
        //    });
        //}
        $(function () {
            $('body').on('click', '.del', function(){
                var pass = $(this).val();
                $.ajax({
                    url: "/admin/Member/Del?id=" + pass, type: "post",
                    success: function (result) {
                        //alert(2);
                        if (result.status == "0") {
                            alert(result.msg);
                        }
                        else if (result.status == "1") {
                            //alert(1);
                            alert(result.msg);
                        }
                        else if (result.status == "2") {
                            alert(result.msg);
                            window.location.href = result.data;
                        }
                    },
                    error: function () { alert("网络错误"); }
                }); 
            }) 
        });
        $(function () {
            $('body').on('click', '.pass', function(){ 
                var pass = $(this).val();
                $.ajax({
                    url: "/admin/Member/Pass?id=" + pass, type: "post",
                    success: function (result) {
                        //alert(2);
                        if (result.status == "0") {
                            alert(result.msg);
                        }
                        else if (result.status == "1") {
                            //alert(1);
                            alert(result.msg);
                        }
                        else if (result.status == "2") {
                            alert(result.msg);
                            window.location.href = result.data;
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
        
        $(function () {
            $("#search").click(function () { 
                //var name = $("#Select_Code").find("option:selected").val();
                //var level = $("#Level").find("option:selected").val();
                //var strat = $("#Start").val();
                //var End = $("#End").val();
                //var usercode = $("#usercode").val();

                //$.ajax({
                //    url: "/admin/Member/MemberGetPage?Id=" + name + "&&usercode=" + usercode + "&&Level=" + level + "&&Strat=" + strat + "&&End=" + End + "&&i=" + 0, type: "post",
                //    success: function (result) {
                //        if (result.data.memberList == null) {
                //            alert("暂无数据");
                //        }
                //        $(".nextpage").empty();
                //        $(".nextpage").append(result.data.page);
                //        $("#pagerList").empty();
                //        $("#pagerList").append('<input type="hidden" id="index" value="1" />');

                //        var html = template('MemberList', { memberList: result.data.memberList });
                //        //alert(result.data.MemberList);
                //        $("#pagerList").append(html);
                //        $.parser.parse($('#pagerList'));
                //    },
                //    error: function () { alert("网络错误"); }
                //});
                getPage(1);
            });
        }); 
    </script>

    <script id="MemberList" type="text/html">
        @*//template js模板*@
        {{each memberList as User}}
        <tr>
            <td align="center">{{User.userCode}}</td>
            <td align="center">{{User.id}}</td>
            <td align="center">{{User.createTime}}</td>
            <td align="center">
                <button class="easyui-linkbutton pass" value="{{User.id}}" iconcls="icon-edit">激活</button>
                <button class="easyui-linkbutton del" value="{{User.id}}" iconcls="icon-remove" >删除</button>
            </td>
        </tr>
        {{/each}}
    </script>
}
 
 

 
