@model Chat.FrontWeb.Models.MemberLevel.AgentListViewModel
@{
    ViewBag.Title = "申请报单中心";
    Layout = "~/Views/Share/_Layout2.cshtml";
}

<div class="wrapper">
    <section class="panel">
        <!--主体开始-->
        <section style="padding: 28px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">申请报单中心</h3>
                        </div>
                        <div class="widget widget-body-white padding-none">
                            <div class="widget-body" style="padding: 20px; overflow: auto;">
                                <div class="row" style="padding: 10px;">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">代理编号<span class="ast">:</span></label>
                                        <div class="col-md-9">
                                            <span style="color: #ff0000;" id='Coinnum'>
                                                @*<asp:Literal ID="ltAgent" runat="server"></asp:Literal>*@
                                               @if (Model.AgentList==null)
                                               { 
                                                  <input  type="text" id="UserCode_M" readonly="readonly" disabled="disabled" value="@Model.Member.UserCode"/>
                                               }
                                               else
                                               {
                                                  <input type="text" id="UserCode_A" readonly="readonly" disabled="disabled"  value="@Model.AgentList.AgentCode" />
                                               } 
                                                </span>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    

                                    <div class="row" style="padding: 10px;">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><span class="ast"></span></label>
                                        <div class="col-md-9">
                                            <span id="Msg" style="color: #ff0000;">
                                                @*<asp:Literal ID="ltAudit" runat="server"></asp:Literal>*@ 
                                             
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-footer innerAll half text-right clearfix" style="text-align: center; padding: 10px;">
                            @*<asp:Button ID="btnSubmit" runat="server" OnClick="btnSubmit_Click" class="btn btn-primary coinkg" />*@
                            <input  type="hidden" id="btn" class="btn btn-primary coinkg" value="提交"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
@section FooterScript{
<script type="text/javascript">
    $(function () {
        var UserCode_A = $("#UserCode_A").val();
        if (UserCode_A != "" && UserCode_A != undefined)
        {
            $.ajax({
                url: "/MemberLevel/GetAgentState?id=1",
                type: "post",
                success: function (data) { 
                    document.getElementById("Msg").innerHTML = data.msg;
                    $("#btn").attr("type", "hidden");
                } 
            }) 
        } else   { 
            var UserCode_M = $("#UserCode_M").val();
            if (UserCode_M != "" && UserCode_M != undefined) {
            $.ajax({
                url: "/MemberLevel/GetAgentState_Member?id=1",
                type: "post",
                success: function (data) {
                    document.getElementById("Msg").innerHTML = data.msg;
                    $("#btn").attr("type", "button");
                }
            })

        }
        }
    })
    $(function () {
        $("#btn").click(function () {
            var UserCode_A = $("#UserCode_A").val();
            $.ajax({
                url: "/MemberLevel/Agent_btn?id=1",
                type: "post",
                success: function (data) { 
                    document.getElementById("Msg").innerHTML = data.msg;
                    alert(data.msg);
                    $("#btn").attr("type", "hidden");
                }
            })
        })
    })


</script>

    }