@model long
@{
    ViewBag.Title = "MemberTree";
    Layout = "~/Views/Share/_Layout2.cshtml";
}

<h2>系谱图</h2>
<div>
    <h2>
        <asp:Label runat="server" ID="titletxt"></asp:Label>
    </h2>
    <div class="filter">
        <div class="row-fluid">
            会员编号:<input id="txtUserCode" tip="输入会员编号"  type="text" />&nbsp;&nbsp;
            <input type="button" id="btnSearch" value="跳 转" class="btn btn-primary" onclick="onserch()" />&nbsp;&nbsp;
            <input type="button" id="btnMy" value="我的系谱图" class="btn btn-primary" onclick="Myonserch()" />&nbsp;&nbsp;
            <input type="button" id="Button1" value="上一级" class="btn btn-primary" onclick="Uponserch()" />&nbsp;&nbsp;
            <input type="button" id="Button2" value="下一级" class="btn btn-primary" onclick="Downonserch()" />&nbsp;&nbsp;
        </div>
    </div>
    <div class="operation">
        <div style="width: 74px; height: 20px; float: left; color: #fff; background: url('/images/000.jpg'); text-align: center; line-height: 20px; font-weight: bold;">未开通</div>
        <div style="width: 74px; height: 20px; float: left; color: #fff; background: url('/images/001.jpg'); text-align: center; line-height: 20px; font-weight: bold;">银卡代理<!--银卡代理--></div>
        <div style="width: 74px; height: 20px; float: left; color: #fff; background: url('/images/002.jpg'); text-align: center; line-height: 20px; font-weight: bold;">金卡代理<!--金卡代理--></div>
        <div style="width: 74px; height: 20px; float: left; color: #fff; background: url('/images/003.jpg'); text-align: center; line-height: 20px; font-weight: bold;">钻卡代理<!--钻卡代理--></div>
    </div>
    <div class="dataTable" style="clear: both; text-align: center; overflow: auto; margin-left: auto; margin-right: auto; float: inherit;">
        <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    @ViewBag.tree
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" id="id" value="@Model" />
</div>
<script>
    var z = 3
    var id = $("#id").val();
    $(function () {        
        BindTree(id, 'system', z);
    })
    function BindTree(Id, code, z) {
        $.ajax({
            type: 'POST',
            url: "/Team/Tree?Id=" + Id + "&code=" + code + "&znode=" + z,
            dataType: 'text',
            async: false,
            success: function (responseData) {
                $(".dataTable").html(responseData)
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {//请求失败处理函数
                console.log("请求失败");
            }
        });
    }
    function onserch() {
        if ($("#txtUserCode").val() == "") {
            alert("请输入会员编号");
        } else {
            BindTree(0, $("#txtUserCode").val(), z)
        }
    }
    function Myonserch() {
        z = 1;
        BindTree(id, $("#txtUserCode").val(), 1)
    }
    function Uponserch() {
        z = z - 1;
        z <= 0 ? z=1 : z=z;
        BindTree(id, $("#txtUserCode").val(), z)
    }
    function Downonserch() {
        z = z + 1;
        BindTree(id, $("#txtUserCode").val(), z)
    }
</script>
